$red: #D20000;
$blue: #24485f;
$green: #40a138;

// #contactUsContainer {
// 	position: fixed;
// 	display: block;
// 	top: 0;
// 	left: 0;
// 	width: 100%;
// 	height: 100%;
// }

#customerSupportHelpButton {
	position: fixed;
	z-index: 1039;
	bottom: 0;
	right: 0;
	background-color: rgba(210, 0, 0, 0.7);
	border: 2px solid rgba(0, 0, 0, 0.2);
	border-radius: 20px 20px 4px 20px;
	padding: 20px;
	color: white;
	font-weight: bold;
	font-size: 1.65em;
	margin: 0 10px 10px 0;
	cursor: pointer;
}

.inline-need-help-trigger {
	cursor: pointer;
}

#customerSupportHelpModal {
	font-size: 1.7em;
	margin: 0.5em;

	*:not(.fa) {
		font-family: Arial, Helvetica, sans-serif !important;
	}

	i:not(.fa) {
		font-style: italic;
	}

	.disabled,
	:disabled {
		opacity: 0.65;
		pointer-events: none;
	}

	h3 {
		line-height: 0.8em;
	}

	hr {
		border: none !important;
		border-top: 1px solid #eeeeee !important;
		width: 100% !important;
	}

	.row {
		&:before {
			content: none;
		}

		&:after {
			content: none;
		}
	}

	.flexed {
		display: flex !important;
		justify-content: space-between;
	}

	.valign-wrapper {
		display: flex !important;
		align-items: center;

		&.text-center {
			justify-content: center;
		}
	}

	::-webkit-input-placeholder,
	::-moz-placeholder,
	:-ms-input-placeholder,
	:-moz-placeholder {
		color: #dddddd;
	}

	a {
		cursor: pointer;
	}

	.notice,
	.card {
		font-size: 0.8em;
		padding: 0.8em;
		width: 100%;
		margin-bottom: 0.5em;
	}

	.card {
		box-shadow: 0 1px 5px rgba(black, 0.1);
		border-radius: 2px;
		border: 1px solid rgba(black, 0.2);
		background-color: white;
	}

	.notice {
		border-radius: 4px;
		border: 1px solid rgba(#888888, 0.7);
		background-color: rgba(#888888, 0.2);
		color: #333333;

		>* {
			display: block;

			&:not(:last-child) {
				margin-bottom: 0.4em;
			}
		}

		a {
			color: $red;
			font-size: 0.8em;
		}

		p {
			font-size: 1em;
		}
	}

	.commonQuestions {
		ul {
			margin-top: 0.4em;

			li {
				margin-top: 1em;

				a {
					line-height: 1.4em;
					color: $red;
					text-decoration: underline;
				}

				div {
					line-height: 1.2em;
					border-left: 3px solid #dddddd;
					margin-top: 0.6em;
					padding-left: 0.5em;
				}
			}
		}
	}

	.collapsible {
		display: block;
		max-height: 1200px;
		transition: opacity 100ms ease-out, padding 300ms ease-out, margin 300ms ease-out, max-height 300ms ease-out;

		&.collapsed {
			padding: 0;
			overflow: hidden;
			margin: 0;
			opacity: 0;
			max-height: 0;
		}
	}

	.tiny {
		font-size: 0.75em;
	}

	$issueSuggestionSelectionTint: $red;

	.issueSuggestionSelectionContainer {
		// border-radius: 8px;
		// background-color: rgba($issueSuggestionSelectionTint, 0.9);
		// color: white;
		padding: 0;
		width: 100%;
		// overflow: hidden;

		.issueSuggestionSelection {
			width: 100%;
			background-color: rgba(white, 0.95);
			margin-top: 0.8em;
		}
	}

	.modal-header,
	.modal-footer {
		display: flex;
		justify-content: space-between;
		width: 100%;
		text-align: left;
		align-items: center;

		&:before,
		&:after {
			content: none;
		}
	}

	.section {
		padding: 0.75em 0;
	}

	.secondary-text {
		color: #888888;
	}

	label {
		cursor: default;
		display: block;
		font-weight: normal;
		font-size: 0.85em;
		line-height: 1.4em;
		margin-bottom: 0.8em;

		.fa {
			margin-right: 0.2em;
		}

		&.required:after {
			content: " (Required)";
			font-size: 0.6em;
			background: #cccccc;
			color: white;
			border-radius: 3px;
			padding: 2px 3px 4px;
			margin-left: 5px;
		}
	}

	input,
	textarea {
		font-size: 0.9em;
		background-color: #f4f4f4;
	}

	input {
		padding: 0.3em 0.5em;
		border-radius: 4px;
		border: 1px solid #dddddd;
	}

	input+input {
		margin-left: 0.4em;
	}

	textarea {
		resize: none;
		padding: 0.4em;
		min-height: 10em;
		max-width: 100%;
		border-radius: 8px;
		border: 1px solid #aaaaaa;
	}

	button {
		margin-left: 0.25em;
		margin-right: 0.25em;
		padding: 0.65em 1em !important;
		font-size: 0.8em;

		&.active {
			color: rgba(white, 0.5);
		}

		&[class*="outline-"] {
			background-color: transparent;
		}

		&.btn-secondary {
			background-color: #666666 !important;
			color: white !important;
		}

		.fa:first-child:not(:last-child) {
			margin-right: 0.4em;
		}

		.fa:last-child:not(:first-child) {
			margin-left: 0.4em;
		}
	}

	button,
	input,
	select,
	textarea {
		line-height: initial;
	}

	$contactSelectionButtonSize: 60px;

	.contactSelection {
		border-radius: 50%;
		width: $contactSelectionButtonSize;
		height: $contactSelectionButtonSize;
		line-height: $contactSelectionButtonSize;
		background-color: #888888;
		color: white;
		text-align: center;
		margin: 0.5em;
		cursor: pointer;
		transition: transform 0.2s ease-out;

		&.selected {
			background-color: $red;
		}

		&:not(.selected):hover {
			transform: scale(1.15);
		}

		&.disabled {
			background-color: rgba(black, 0.4);
			color: rgba(black, 0.8);
			cursor: not-allowed;
			opacity: 0.4;
			transform: scale(0.8);
		}
	}

	.dropdown {
		margin-top: 0.25em;
	}

	.dropdown-menu {
		max-height: 300px;
		overflow-y: auto;
	}

	.dropdown-item {
		display: block;
		padding: 0.8em 0.8em;
		color: black;
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
		font-size: 1.1em;

		&:hover {
			background-color: rgba(black, 0.1);
		}
	}

	.dropdown-submenu {
		position: relative;

		>.dropdown-menu {
			top: 0;
			left: 100%;
			margin-top: -6px;
		}
	}
	
	.drop-attachment {
		resize: none;
		padding: 0.5em;
		max-width: 100%;
		border-radius: 8px;
		border: 1px solid #aaaaaa;
		background-color: #dadada;
		text-align: center;
		color: #949494;
	}
	
	.drop-attachment-files li {
		margin-top: 10px;
		color: #757575;
	}
	
	.drop-attachment-trash {
		cursor: pointer;
		margin-left: 20px;
		color: #757575;
	}
	
	.drop-attachment-trash:hover {		
		color: darkred;
	    animation: shake 0.5s;
		animation-iteration-count: infinite;
	}
	
	.drop-attachment-file {
		margin-right: 15px;
		color: #757575;
	}
}

@keyframes shake {
	0% { transform: translate(0.25px, 0.25px) rotate(0deg); }
	10% { transform: translate(-0.25px, -0.5px) rotate(-1deg); }
	20% { transform: translate(-0.75px, 0px) rotate(1deg); }
	30% { transform: translate(0.75px, 0.5px) rotate(0deg); }
	40% { transform: translate(0.25px, -0.25px) rotate(1deg); }
	50% { transform: translate(-0.25px, 0.5px) rotate(-1deg); }
	60% { transform: translate(-0.75px, 0.25px) rotate(0deg); }
	70% { transform: translate(0.75px, 0.25px) rotate(-1deg); }
	80% { transform: translate(-0.25px, -0.25px) rotate(1deg); }
	90% { transform: translate(0.25px, 0.5px) rotate(0deg); }
	100% { transform: translate(0.25px, -0.5px) rotate(-1deg); }
}